@import 'partials/header-styling';
@import 'partials/typography';
@import 'partials/positioning';
@import 'partials/cta';


h1 {
    font-size: $font-size-h1;
    @include center(horizontal);
}

.section2 {
    margin-top: 5%;
    @include center(horizontal);
    @include flex-column();

    h2 {
        font-size: $font-size-h2;
    }

    p {
        width: 65%;
        margin: auto;
        margin-top: 2.5%;
        font-size: $font-size-p
    }

}

.paidad-assets {
    @include flex();

    div {
        @include flex-column();
        width: 50%;
        @include center(vertical);
    }
}

.section2 .img1 {
    width: 50%;
}

.section2 .img2 {
    width: 40%;
}

ul {
    list-style: none;
    text-align: left;

    li {
        font-size: $font-size-p;
        margin-top: 5%;
    }
}

.section3 {
    @include flex();
    @include center(horizontal);
    margin-top: 5%;
    margin-left: 15%;
    margin-right: 15%;
    gap: 25px;
    padding-bottom: 2.5%;

    img {
        width: 45%;
    }
}

.section4 {
    position: relative;
    height: 400px; /* Adjust based on content */
    width: 100%;
    background-color: black;

    h3 {
        color: #ff5733;
        font-size: $font-size-h3;
    }
}
  
  /* Random scatter positions */
  .scatter-1 {
    position: absolute;
    top: 20%;
    left: 10%;
  }
  
  .scatter-2 {
    position: absolute;
    top: 30%;
    left: 40%;
  }
  
  .scatter-3 {
    position: absolute;
    top: 70%;
    left: 20%;
  }
  
  .scatter-4 {
    position: absolute;
    top: 50%;
    left: 65%;
  }

  .scatter-5 {
    position: absolute;
    top: 50%;
    left: 30%;
  }
  

@media screen and (max-width: 768px) {

    p {
        font-size: $font-size-p-mobile;
    }

    .section2 p {
        margin-top: 7.5%;
        width: 85%;
    }

    .section2 .img1 {
        width: 100%;
    }
    
    .section2 .img2 {
        width: 75%;
    }

    .section3 {
        @include flex-column();
        flex-direction: column-reverse;

        img {
            width: 100%;
            margin: auto;
        }
    }

    .section4 {
        h3 {
            font-size: $font-size-h3-mobile;
        }
    }

}

