@import 'positioning';
@import 'typography';

.cta {
    position: relative;
    display: inline-block;
    text-decoration: none;
    color: white;
    background: linear-gradient(135deg, #000000, #222222);
    border: 3px solid #FF5733;
    padding: 0.75em 4em;
    border-radius: 30px;
    font-weight: 700;
    font-size: 1.5vw;
    overflow: hidden;
    transition: all 0.4s ease;
    z-index: 1;
  }
  
  .cta::before {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(135deg, #FF5733, #ff8c42);
    transition: all 0.4s ease;
    z-index: -1;
  }
  
  .cta:hover {
    color: black;
    border-color: #000;
    transform: scale(1.05);
  }
  
  .cta:hover::before {
    left: 0;
  }
  
  

.cta-container {
    @include center(horizontal);
    margin-top: 2.5%;
    margin-bottom: 2.5%;
}

@media screen and (max-width: 768px) {

    .cta {
        padding-left: 4%;
        padding-right: 4%;
        padding-top: 2.5%;
        padding-bottom: 2.5%;
        font-size: 5vw;
    }
}