* {
    font-family: "Kanit", serif;
}


$font-size-h1: 3rem;   // ~48px
$font-size-h2: 2.25rem; // ~36px
$font-size-h3: 1.5rem;  // ~24px
$font-size-p: 1.25rem; // 20px

$font-size-h1-mobile: 2rem;      // ~32px
$font-size-h2-mobile: 1.5rem;    // ~24px
$font-size-h3-mobile: 1.125rem;  // ~18px
$font-size-p-mobile: 0.95rem;     
$font-size-a-mobile: 0.875rem;   // ~14px (for smaller anchor text)